@{
    ViewData["Title"] = "Index";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_Layout1.cshtml";
    Layout = null;
}



<h1>Index</h1>
<p>This is my Home Page</p>



@* <h1>Current Date and Time is @DateTime.Now</h1>
<h1>Current Year is @DateTime.Now.Year</h1>


@{
    var name = "Areeba Channel";
    var age = 20;

}

<h2>Name = @name</h2>
<h2>Age = @age</h2>
 *@


@*  Conditional Statement *@
@* @{
    var myName = "Arweeba";
    if (myName.Equals("Areeba"))
    {
        <h3>Hey Areeba</h3>
    }
    else
    {
        <h3>By Areeba</h3>
    }
} *@



@*  Loops  *@

@* @{
    for (int i = 0; i < 10; i++)
    {
        <h2>@(i + 1)</h2>
    }
} *@



@*  ForEach Loops  *@
@*  To use ForEach Loops we must have an array *@
@*
@{
    string[] names = { "Areeba", "Aiman", "Ali" };
    foreach (var item in names)
    {
        <h3>@item</h3>
    }
} *@




@* ==================== ViewData ================ *@

@* @ViewData["Data1"]
<br />
@ViewData["Data2"]
<br />
@ViewData["Data3"] *@

@* To access arrray or collection we use for each loop
    ViewData["Data4"] is throwing error we have to typecast it cuz he is not recognizing which DT is it
*@


@{
    // foreach (var item in (string[])ViewData["Data4"])
            // {
            //     <h2>@item</h2>
            // }
}

@{
    // foreach (var item in (List<String>)ViewData["Data5"])
    // {
            //     <h2>@item</h2>
            // }
}


@* ======================== ViewData[] Concept ====================   *@



@* ======================== ViewBag.<> Concept ====================   *@


@* Accessing View[Data] property through ViewBag.Data in our View *@
@* <h4>Accessing View[Data] property through ViewBag : @ViewBag.MyFamily</h4> *@


@* Accessing ViewBag property through View[Data].Data in our View *@
@* <h4>Accessing ViewBag property through View[Data]: @ViewData["Data6"]</h4> *@


@* @ViewBag.Data1
<br />
@ViewBag.Data2
<br />
@ViewBag.Data3
<br />
 *@


@{
    // foreach (var item in ViewBag.Data4)
    // {
            //     <h2>@item</h2>
            // }
}

@{
    // foreach (var item in ViewBag.Data5)
    // {
    //     <h2>@item</h2>
            // }
}


@* ======================== ViewBag.<> Concept ====================   *@


@* ======================== TempData Concept ====================   *@

@ViewData["Data1"]
@ViewBag.Data2
@TempData["Data3"]


@* Checking fro null values to avoid runtime exception *@

@{
    if (TempData["Data4"] != null)
    {
        foreach (var item in (List<string>)TempData["Data4"])
        {
            @item
        }
    }
    else
    {
        <h2>No Data Found</h2>
    }

}

@{
    if (TempData["Data5"] != null)
    {
        foreach (var item in (List<string>)TempData["Data4"])
        {
            @item
        }
    }
    else
    {
        <h2>No Data Found</h2>
    }

}

@* ======================== TempData Concept ====================   *@